@import '../styles/variables.scss';
.sidebar {
    box-shadow: 7px 0 60px rgba(0,0,0,.05);
    width: 280px;
    display: flex;
    overflow: auto;
    min-width: 280px;
    position: relative;
    flex: 0 0 280px;
    padding-top: 60px;
    transition: all .2s;
    background-color: $background-sidebar;
    height: calc(100vh);
    ul {
        list-style: none;
        width: 100%;
        color: $color-text-sidebar;
        text-transform: capitalize;
        padding: 0;
        li {
            &:hover {
                background-color: $background-list-hover;    
            }
            &.active {
                background-color: $background-sidebar-list-active;  
                text-align: center;
                padding: 5px;
            }
        }
    }
    
}