
$background-color: rgb(250,251,252);
$background-sidebar-list-active: #3a4248;
$background-sidebar: #2f353a;
$background-list-hover: #20a8d8;
$background-main: #e4e5e6;
$background-color-container: $background-color;
$border-color: #adadad;
$color-text-sidebar:  #ffffff;